<!DOCTYPE html>
<html>
<head>
  <title>NewFitnessApp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <a class="navbar-brand" class="navbar-left"><%= image_tag "logo.png", width: 150 %></a>
  <div class="btn-group show">
    <% if current_user %>
     <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <a> Welcome, <%= current_user.name %></a>
     </button>
      <div class="dropdown-menu dropdown-toggle-split">
       <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
       <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
     <% else %>
       <%= link_to "Sign In ", new_user_session_path %>
     <% end %>
      </div>
    </div>
</nav>

<%= yield %>

<p class="text-center"><%= copyright_generator %></p>

<p class="notice align-center"><%= notice %></p>
<p class="alert align-center"><%= alert %></p>

</body>
</html>