<!DOCTYPE html>
<html>
<head>
  <title>NewFitnessApp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" class="navbar-left"><%= image_tag "logo.png", width: 150 %></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <p> Welcome, <%= current_user.name %></p>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
          <li><%= link_to "Sign In ", new_user_session_path %></li>
      <% end %>
      </div>
      </div>
    </ul>
</nav>
<br>

<%= yield %>

<%= copyright_generator %>

<p class="notice align-center"><%= notice %></p>
<p class="alert align-center"><%= alert %></p>

</body>
</html>